ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: 0;
}
*{box-sizing: border-box;}
.a-0 > h1{
    color: #86e57f;
    font-size: 36px;
    margin-left: 20px;
}


.a-0 {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.6);
    padding: 0 10%;
}
.a-0 > h1{
    color: #86e57f;
    font-size: 36px;
    margin: 10px 0;
}
#Menu {width: 80%;}
    #Menu >ul > li{

    }
    #Menu > ul{
        display: flex;
        justify-content: space-between;
        
    }
    #Menu > ul > li {
        
        list-style-type:none;
        text-align: center;
        position: relative;
    }
    #Menu > ul ul {
        display:none;}
        /* float:right;} */
    #Menu > ul> li > a {
        height:30px;
        color:#000000;
        font-family:arial;
        font-size:18px;
        padding:0 10px 0 10px;        
        text-decoration:none;
    }
    #Menu a:hover {
        color:#000000;
        border-bottom:3px solid #86e57f;
    }
    #Menu ul li:hover ul{
        display: block;
    }
    #Menu ul ul {
        display:none;
        position:absolute;    
        left: 0;
        background-color:rgba(255, 255, 255, 0.6);
        width: 100%;
    }
    
    #nav_menu ul ul li {
        float:none;    
    }    
.b-1 img{
        width: 100%;}
.b-2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.img{
    /* justify-content: space-between; */
    padding: 0 10%;
    display: flex;
    /* overflow: hidden;  */
}

.img-1 img{
    height:400px;
    width: 400px;
}
.img-2 img{
    height:400px;
    width: 400px;
}   
.img-3 img{
    height:400px;
    width: 400px;
}
.img-4 img{
    height:400px;
    width: 400px;
}

.img img {
    transform:scale(1);
    transition:.3s;
    animation:4s steps(9) infinite;

}
.img:hover img {
    transform:scale(1.2);
}

.b-3{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.room{
    padding: 0 5%;
    display: flex;
}
.room img{
    width: 350px;
    height: 307px;
}
.r-1 img{}
.r-2 img{}
.r-3 img{}
.r-4 img{}
.r-5 img{}

.b-5 > img{
    display:flex;
    margin:auto;
}
.b-6 > h2{
    text-align: center;
}
.b-6 > img{
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
}
.a-13 > img{
    display: block;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 50px;
}
.a-14{
    background-color: rgb(167, 167, 167);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.a-14 strong{
    font-size: 30px;
}