ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}
body{
    margin: 0;
}
*{box-sizing: border-box;}

/* .a-0{
    width: 1920px;
    height: 1058px;
    /* margin: 0 2px 191px 0; */
    /* background-size: cover;
    background-image: fixed;
} */ 
.a-0 > h1{
    color: #86e57f;
    font-size: 36px;
    margin-left: 20px;
}


.a-0 {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.6);
    padding: 0 10%;
}
.a-0 > h1{
    color: #86e57f;
    font-size: 36px;
    margin: 10px 0;
}
/* .a-0 > ul{
    width: 1920px;
    height: 86px;
    margin: 0 0 1226px;
    padding: 32px 95px 31px 417px;
    opacity: 0.5;
    background-color: #ffffff;
}
.a-0 > ul{
    width: 79px;
    height: 18px;
    margin: 3px 226px 2px 229px;
    font-family: Dotum;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
} */
#Menu {width: 80%;}
    #Menu >ul > li{

    }
    #Menu > ul{
        display: flex;
        justify-content: space-between;
        
    }
    #Menu > ul > li {
        
        list-style-type:none;
        text-align: center;
        position: relative;
    }
    #Menu > ul ul {
        display:none;}
        /* float:right;} */
    #Menu > ul> li > a {
        height:30px;
        color:#000000;
        font-family:arial;
        font-size:18px;
        padding:0 10px 0 10px;        
        text-decoration:none;
    }
    #Menu a:hover {
        color:#000000;
        border-bottom:3px solid #86e57f;
    }
    #Menu ul li:hover ul{
        display: block;
    }
    #Menu ul ul {
        display:none;
        position:absolute;    
        left: 0;
        background-color:rgba(255, 255, 255, 0.6);
        width: 100%;
    }
    
    #nav_menu ul ul li {
        float:none;    
    }    
    .b-1 img{
        width: 100%;}
   